h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  color: $color-black;
  margin: 0;
}

a,
.link {
  @include link;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-style: normal;
  font-weight: normal;
  color: $color-black;
}
strong {
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: $line-height-base;
  color: $color-black;
}
.wrap-error-text {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: $color-red;
}
